---
import {Image} from "astro:assets"
import profile_image from "../images/profile.png"
import {button_style} from "../style/button"
---

<section class="flex flex-wrap lg:flex-nowrap gap-4 lg:gap-8 items-center">
  <div
    class="w-full lg:w-5/12 px-10 md:p-8 flex items-center justify-center lg:order-last"
  >
    <div>
      <Image src={profile_image} alt="Taufik Nurhidayat" />
    </div>
  </div>
  <div class="w-full lg:w-7/12 text-slate-700">
    <p class="text-xl">Hi, saya Taufik Nurhidayat</p>
    <h1 class="text-4xl mt-2 font-bold">Frontend Web Developer dan Writer</h1>
    <p class="text-slate-600 mt-8">
      Saya adalah seorang frontend developer yang juga memiliki hasrat dalam
      dunia tulisan. Mulai mengembangkan web{" "}
      <a class="text-slate-800 hover:underline" href="//Nurhidayat.web.id">
        Nurhidayat
      </a>
       , lalu mengisinya dengan konten yang berkualitas. Selain itu saya juga
      menulis untuk <a
        class="text-slate-800 hover:underline"
        href="//play.id"
        rel="nofollow"
      >
        Play.id
      </a> dan <a
        href="//dewabiz.com"
        rel="nofollow"
        class="text-slate-800 hover:underline"
      >
        Dewabiz
      </a>
       .
    </p>

    <div class="mt-8 flex gap-4 flex-wrap items-center text-sm">
      <a
        class={button_style.primary}
        href="mailto:taufik@nurhidayat.web.id"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
          ></path>
        </svg>

        <span class="ml-2">Email Me</span>
      </a>
      <a
        class={button_style.ghost}
        href="/cv.pdf"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
          ></path>
        </svg>

        <span class="ml-2">Download CV</span>
      </a>
    </div>
  </div>
</section>
